<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 table-responsive" *ngFor="let aircraft of aircrafts">
                <div class="card" [routerLink]="['/plan-maintenance-details', aircraft.id]">
                    <div class="card-header" data-background-color="green">
                        <h5 class="title">{{aircraft.registrationNumber}}</h5>
                        <p class="category">{{aircraft.name}}</p>
                    </div>
                    <div class="card-content table-responsive" style="padding: 0 !important;">
                        <table class="table table-hover table-bordered text-center">
                            <tbody>
                            <tr>
                                <td style="color: white;"
                                    [style.background-color]="aircraft.maintenance.flightHours >= aircraft.maintenance.A.hours && aircraft.maintenance.flightHours < aircraft.maintenance.B.hours ? '#f44336' : '#999999'">
                                    <p class="title">{{aircraft.maintenance.A.hours}}</p></td>
                                <td style="color: white;"
                                    [style.background-color]="aircraft.maintenance.flightHours >= aircraft.maintenance.B.hours && aircraft.maintenance.flightHours < aircraft.maintenance.C.hours? '#f44336' : '#999999'">
                                    <p class="title">{{aircraft.maintenance.B.hours}}</p></td>
                                <td style="color: white;"
                                    [style.background-color]="aircraft.maintenance.flightHours >= aircraft.maintenance.C.hours && aircraft.maintenance.flightHours < aircraft.maintenance.D.hours? '#f44336' : '#999999'">
                                    <p class="title">{{aircraft.maintenance.C.hours}}</p></td>
                                <td style="color: white;"
                                    [style.background-color]="aircraft.maintenance.flightHours >= aircraft.maintenance.D.hours ? '#f44336' : '#999999'">
                                    <p class="title">{{aircraft.maintenance.D.hours}}</p></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>