<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                <div class="card card-stats">
                    <div class="card-body text-center">
                        <img src="../../../assets/img/aircrafts/antonov-an26.png" class="img-responsive img-rounded" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">

            </div>
        </div>
    </div>
</div>