<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12" *ngFor="let ac of fleet">
                <div class="card" [routerLink]="['/flight-detail', ac.aircraftId]">
                    <div class="card-header" data-background-color="green">
                        <h5 class="category text-center">
                            <img class="text-center" src="{{ac.logo}}" height="32" width="32"/>&nbsp;{{ac.aircraftDesignation}}
                        </h5>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <ul class="category list-group list-group-flush text-left">
                                    <li class="list-group-item">Aircraft
                                        <span class="badge progress-bar-warning">{{ac.aircraftName}}</span>
                                    </li>
                                    <li class="list-group-item">Hours to Maintenance
                                        <span class="pull-right">
                                            <span class="text-info" style="margin-right: 10px;">A : {{ac.hoursToCheckA}}</span>
                                            <span class="text-primary" style="margin-right: 10px;">B : {{ac.hoursToCheckB}}</span>
                                            <span class="text-success" style="margin-right: 10px;">C : {{ac.hoursToCheckC}}</span>
                                            <span class="text-warning">D : {{ac.hoursToCheckD}}</span>
                                        </span>
                                    </li>
                                    <li class="list-group-item">Route
                                        <span class="pull-right">
                                            <i class="material-icons text-success" *ngIf="ac.route">done</i>
                                            <i class="material-icons text-danger" *ngIf="!ac.route">clear</i>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>