<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" *ngIf="enablePurchase">
                <div class="panel-primary">
                    <div class="panel-heading">
                        <h5 class="modal-title">Purchase</h5>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Current Fuel Price : $ {{currentFuelPricePerThousandLbs}} per 1000 lbs</label>
                                    <input type="number" disabled class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Amount Payable : $ {{amountToPay}}</label>
                                    <input type="number" class="form-control" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Quantity</label>
                                    <input autofocus type="number" class="form-control" [(ngModel)]="amountToBuy" (ngModelChange)="recalculatePrice()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-success" (click)="purchase()">Buy</button>
                        <button type="button" class="btn btn-danger" (click)="togglePurchase()">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="yellow">
                        <i class="fa fa-5x fa-tachometer-alt"></i>
                    </div>
                    <div class="card-content">
                        <h2 class="title">Holding</h2>
                        <h2 class="category">1,256,238 lbs</h2>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-chart" data-background-color="orange">
                        <div class="ct-chart" id="fuelPriceChart"></div>
                    </div>
                    <div class="card-content">
                        <h3 class="title">Current Fuel Price</h3>
                        <h4 class="category">$ {{currentFuelPrice}}</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a class="btn btn-success" (click)="togglePurchase()" >Purchase
                                Fuel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>