<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card" >
                    <div class="card-header card-chart" data-background-color="orange">
                        <div class="ct-chart" id="fuelPriceChart"></div>
                    </div>
                    <div class="card-content">
                        <h3 class="title">Current Fuel Price</h3>
                        <h4 class="category">$1200</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="#" class="btn btn-success">Purchase Fuel</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="yellow">
                        <i class="fa fa-5x fa-tachometer-alt"></i>
                    </div>
                    <div class="card-content">
                        <h2 class="title">Holding</h2>
                        <h2 class="category">1,256,238 lbs</h2>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>