<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">{{dashboardStats.airlineName}}</h4>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <td>Company Reputation</td>
                                <td>{{dashboardStats.companyReputation}} %</td>
                            </tr>
                            <tr>
                                <td>Fuel Cost</td>
                                <td>$ {{dashboardStats.fuelCost}} per 1000 lbs</td>
                            </tr>
                            <tr>
                                <td>Fuel Holding</td>
                                <td>{{dashboardStats.fuelHolding}} lbs</td>
                            </tr>
                            <tr>
                                <td>Flights</td>
                                <td>{{dashboardStats.flights}}</td>
                            </tr>
                            <tr>
                                <td>Passengers Served</td>
                                <td>{{dashboardStats.passengersServed}}</td>
                            </tr>
                            <tr>
                                <td>Fleet Size</td>
                                <td>{{dashboardStats.fleetSize}}</td>
                            </tr>
                            <tr>
                                <td>Active Routes</td>
                                <td>{{dashboardStats.activeRoutes}}</td>
                            </tr>
                            <tr>
                                <td>A/C planned for Maintenance</td>
                                <td>{{dashboardStats.aircraftsPlannedForMaintenance}}</td>
                            </tr>
                            <tr>
                                <td>Sale Value</td>
                                <td>{{dashboardStats.saleValue}} %</td>
                            </tr>
                            <tr>
                                <td>A/C pending delivery</td>
                                <td>{{dashboardStats.aircraftsPendingDelivery}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="orange">
                                <i class="material-icons">account_balance</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Assets</p>
                                <h3 class="title">$ {{dashboardStats.totalAssets}}
                                </h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <a href="#dummy">Show Recent Transactions...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="green">
                                <i class="material-icons">store</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Revenue</p>
                                <h3 class="title">$ {{dashboardStats.revenue}}</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">date_range</i> Last 24 Hours
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="blue">
                                <i class="material-icons">face</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Staff</p>
                                <h3 class="title">{{dashboardStats.totalStaffCount}}</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="red">
                                <i class="material-icons">flight_takeoff</i>
                            </div>
                            <div class="card-content">
                                <p class="category">In Flight</p>
                                <h3 class="title">{{dashboardStats.currentlyInFlight}}</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">local_offer</i> Track Flights
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="magenta">
                                <i class="material-icons">account_balance_wallet</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Share Value</p>
                                <h3 class="title">$ {{dashboardStats.currentShareValue}}</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-chart" data-background-color="green">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-content">
                        <h4 class="title">Company Stock Info</h4>
                        <p class="category"><span class="text-success"><i
                                [class]="dashboardStats.percentChange > 0 ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"></i> {{dashboardStats.percentChange}} %  </span> change</p>
                        <p class="category"><span class="text-success"><i
                                [class]="dashboardStats.amountChange > 0 ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"></i> {{dashboardStats.amountChange}} $ </span> change</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>