<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header" data-background-color="green">
                <h5>
                    <span>Antonov, An-26</span>
                    <a class='pull-right' href="#dummy" style="margin-left: 5px;"><i class="fa fa-dollar-sign"></i> </a>
                    <a class='pull-right' href="#dummy" style="margin-right: 15px; margin-left: 5px;"><i class="fa fa-map-marker"></i> </a>
                    <a class='pull-right' href="#dummy" style="margin-right: 15px; margin-left: 5px;"><i class="fa fa-cogs"></i> </a>
                    <a class='pull-right' href="#dummy" style="margin-right: 15px;"><i class="fa fa-list-ul"></i> </a>
                    <a class='pull-left' href="#dummy" style="margin-right: 15px;"><i class="fa fa-arrow-circle-left"></i> </a>
                </h5>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                        <div class="card card-stats">
                            <div class="card-body text-center">
                                <img src="../../../assets/img/aircrafts/antonov-an26.png" class="img-responsive img-rounded" alt="Antonov-An26" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <div class="card card-stats">
                            <div class="card-content">
                                <div class="title">
                                    <h5 class="text-primary">Dimensions</h5>
                                </div>
                                <div class="category">
                                    <ul class="category list-group list-group-flush text-left">
                                        <li class="list-group-item">Length<span class="badge progress-bar-success">18 meter</span></li>
                                        <li class="list-group-item">Wingspan<span class="badge progress-bar-warning">18 meter</span></li>
                                        <li class="list-group-item">Min. runway requirement<span class="badge progress-bar-danger">4,500 ft.</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="card card-stats">
                            <div class="card-content">
                                <div class="title">
                                    <h5 class="text-primary">
                                        <span>Route Info</span>
                                        <a class='pull-right' href="#dummy" style="margin-left: 5px;"><i class="fa fa-cog"></i> </a>
                                    </h5>
                                </div>
                                <div class="row" style="border-radius: 5px; background-color: #f2f2f2; padding-left: 5px; padding-right: 5px; margin-bottom: 10px;">
                                    <div class="col-sm-12">
                                        <div class="category text-center">
                                            <span class="pull-left">Wroclaw</span>
                                            <span>01:03:14</span>
                                            <span class="pull-right">Bremen</span></div>
                                        <hr style="margin-top: 10px; margin-bottom: 10px;"/>
                                        <div class="category text-center">
                                            <span class="pull-left">Poland, EPWR</span>
                                            <span>Direct</span>
                                            <span class="pull-right">Germany, EDDW</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="category">
                                    <ul class="category list-group list-group-flush text-left">
                                        <li class="list-group-item">Flight#<span class="badge progress-bar-secondary">JM-033</span></li>
                                        <li class="list-group-item">Route Distance<span class="badge progress-bar-danger">593Km</span></li>
                                        <li class="list-group-item">Flight Time<span class="badge progress-bar-success">01:23:33</span></li>
                                        <li class="list-group-item">Overall Demand<span class="badge progress-bar-warning">97%</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="card card-stats">
                            <div class="card-content">
                                <div class="title">
                                    <h5 class="text-primary">Optionals</h5>
                                </div>
                                <div class="category">
                                    <ul class="category list-group list-group-flush text-left">
                                        <li class="list-group-item">Registration Number<span class="badge badge-secondary">LN-YYP</span></li>
                                        <li class="list-group-item">Aircraft Quality<span class="badge progress-bar-warning">5/10</span></li>
                                        <li class="list-group-item">Seat Layout<span class="badge badge-success"><span class="text-success" style="margin-left: 5px; margin-right: 5px;">40 E </span><span class="text-primary" style="margin-left: 5px; margin-right: 5px;">10 F</span><span class="text-danger" style="margin-left: 5px; margin-right: 5px;">0 B</span></span></li>
                                        <li class="list-group-item">Aircraft Value<span class="badge progress-bar-success">$74,200</span></li>
                                        <li class="list-group-item">Engine<span class="badge progress-bar-danger">ZMDB Progress AI-24VT</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="card card-stats">
                            <div class="card-content">
                                <div class="title">
                                    <h5 class="text-primary">Speed/Distance</h5>
                                </div>
                                <div class="category">
                                    <ul class="category list-group list-group-flush text-left">
                                        <li class="list-group-item">Cruise Speed<span class="badge progress-bar-danger">570 Kph</span></li>
                                        <li class="list-group-item">Operating Range<span class="badge progress-bar-warning">2500 Km</span></li>
                                        <li class="list-group-item">Fuel Consumption<span class="badge progress-bar-success">13 Lbs/Km</span></li>
                                        <li class="list-group-item">Turnover time<span class="badge progress-bar-primary">00:02:00</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="card card-stats">
                            <div class="card-content">
                                <div class="title">
                                    <h5 class="text-primary">Timeline</h5>
                                </div>
                                <div class="category">
                                    <ul class="category list-group list-group-flush text-left">
                                        <li class="list-group-item">Introduced<span class="badge progress-bar-primary">1963</span></li>
                                        <li class="list-group-item">Delivered<span class="badge progress-bar-success">2018</span></li>
                                        <li class="list-group-item">Flight Hours<span class="badge progress-bar-danger">71,232</span></li>
                                        <li class="list-group-item">Flight Hours in Company<span class="badge progress-bar-warning">18</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>